.collapse-href {
    text-decoration: none;
    color: #2b3035;
}

.card-dl {
    margin-left: 1rem;
}

.card {
    height: 750px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}