:root{
  color-scheme: light-dark;
}

* {
  font-family: 'Schibsted Grotesk', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 15px 0;
}

.collapse-href {
  text-decoration: none;
  color: #2b3035;
}

.card-dl {
  margin-left: 1rem;
}

.card {
  height: 750px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

.box {
  box-shadow: 0px 0px 2px #2b3035;
}

#content-desc *{
  color: rgb(233, 233, 233);
}

.box #content p {
  padding: 5px 15px;
}

.box #content h4 {
  padding-left: 15px;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

.card {
  transition: 0.3s;
}

.card .card-body {
  background: light-dark(#ffffff, #d8d8d8);
  color: light-dark(#000000, #000000);
  transition: 0.3s;
}

.card:hover {
  transform: scale(105%);
  cursor: pointer;
}

#climateselect {
  padding: 0;
}

.vscomp-ele {
  max-width: none !important;
}


.addimg-bg {
  background-image: url('/src/img/addmountain-bg.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.blur {
  backdrop-filter: blur(5px);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

button.margin {
  margin-bottom: 500px;
}

