:root {
  color-scheme: light dark;
}

* {
  font-family: 'Schibsted Grotesk', sans-serif;
}

.collapse-href {
  text-decoration: none;
  color: #2b3035;
}

.card-dl {
  margin-left: 1rem;
}

.card {
  height: 750px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.box {
  border: solid 3px #2b3035;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  border-radius: 5px 5px 0 0;
}

.box #content p {
  padding: 5px 15px;
}

.box #content h4 {
  padding-left: 15px;
}

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

.card {
  transition: 0.3s;
}

.card .card-body {
  background: light-dark(#ffffff, #2b3035);
  color: light-dark(#000000, #dedede);
  transition: 0.3s;
}

.card:hover {
  transform: scale(105%);
  cursor: pointer;
}